# Folder Node.js (WAJIB ADA)
node_modules/
npm-debug.log
yarn-error.log

# Folder Vendor PHP (Jika pakai Composer)
vendor/

# File Environment/Rahasia (PENTING untuk keamanan)
.env
.env.local

# Folder System & Editor (Sampah OS/Editor)
.DS_Store
Thumbs.db
.vscode/
.idea/

# Folder Build (Hasil generate Tailwind/CSS/JS)
dist/
build/de